# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/*
!.vscode/extensions.json

# Prettier & Stylelint
node_modules/
npm-debug.log*

# Misc
*.log
.env